.red {
    color: red;
}

.bold {
    font-weight: bolder;
}

.Button {
    background-color: green;
    color: white;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
    color: white;
}

.Button.red {
    background-color: red;
}

.Button.red:hover {
    background-color: lightcoral;
    color: white;
}
